@model WebApplication4.Models.DataHoliday

@using (Html.BeginForm("EditHoliday", "Calendar", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ID)


    <div class="form-group">
        @Html.LabelFor(model => model.Holiday, "วันหยุดประจำปี")
        <div class='input-group date' id='dtReleaseDate'>

            @Html.TextBoxFor(model => model.Holiday, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", placeholder = "กรอกวันหยุดประจำปี" })

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Details, "รายละเอียด")
        <div class="col-md-10">
            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control", placeholder = "กรอกรายละเอียดวันหยุดประจำปี" } })
            @Html.ValidationMessageFor(model => model.Details)
        </div>
    </div>
    <br />
    <div>
        <input type="submit" value="Save" class="btn btn-warning" />
    </div>
}


<script>
    // Get the current date
    var currentDate = new Date();
    var year = currentDate.getFullYear();
    var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
    var day = ("0" + currentDate.getDate()).slice(-2);
    // Format the current date as "yyyy-MM-dd" for setting the default value
    var formattedDate = year + "-" + month + "-" + day;
    // Set the default value of the datepicker to the formatted current date
    document.getElementById("EditHoliday").value = formattedDate;
    // Allow selecting a different date
    document.getElementById("EditHoliday").addEventListener("input", function () {
        this.setAttribute("type", "date");
    });
</script>
