@model WebApplication4.Models.DataHoliday

@{
    ViewBag.Title = "UpdateHoliday";
}

<h2>UpdateHoliday</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>DataHoliday</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    @*@Html.HiddenFor(model => model.ID)*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
        </div>
    </div>*@


    <div class="form-group">
        @Html.LabelFor(model => model.Day_Holiday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class='input-group date' id='dtReleaseDate'>
            @Html.TextBoxFor(model => model.Day_Holiday, new { @type = "date", @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.Day_Holiday)
            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Details)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            
            <input type="submit" @*value="Save"*@ class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*<script>
    // Get the current date
    var currentDate = new Date();
    var year = currentDate.getFullYear();
    var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
    var day = ("0" + currentDate.getDate()).slice(-2);
    // Format the current date as "yyyy-MM-dd" for setting the default value
    var formattedDate = year + "-" + month + "-" + day;
    // Set the default value of the datepicker to the formatted current date
    document.getElementById("Day_Holiday").value = formattedDate;
    // Allow selecting a different date
    document.getElementById("Day_Holiday").addEventListener("input", function () {
        this.setAttribute("type", "date");
    });
</script>*@

 