@model WebApplication4.Models.DataHoliday



@using (Html.BeginForm("UpdateHoliday", "Calendar", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ID)


    @*<div>
            <label for="holiday">Day_Holiday:</label>
            <input type="text" id="holiday" name="Holiday" value="@Model.Holiday.ToString("yyyy-MM-dd")" />
        </div>
        <div>
            <label for="details">Details:</label>
            <input type="text" id="details" name="Details" value="@Model.Details" />
        </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.Day_Holiday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            <label for="holiday"></label>
            <input type="text" id="holiday" name="Holiday" value="@Model.Holiday.ToString("yyyy-MM-dd")" />
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Day_Holiday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class='input-group date' id='dtReleaseDate'>

            @Html.TextBoxFor(model => model.Day_Holiday, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>

            </span>
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Day_Holiday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class='input-group date' id='dtReleaseDate'>
                @Html.TextBoxFor(model => model.Day_Holiday, new { @type = "date", @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.Day_Holiday)

            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Details)
        </div>
    </div>
    <br />
    <div>
        <input type="submit" value="Save" class="btn btn-warning"/>
    </div>
}

@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var detailsValue = $("#Details").val();
            $("#Day_Holiday").val(detailsValue);
        });
    </script>*@

<script>
    // Get the current date
    var currentDate = new Date();
    var year = currentDate.getFullYear();
    var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
    var day = ("0" + currentDate.getDate()).slice(-2);
    // Format the current date as "yyyy-MM-dd" for setting the default value
    var formattedDate = year + "-" + month + "-" + day;
    // Set the default value of the datepicker to the formatted current date
    document.getElementById("Day_Holiday").value = formattedDate;
    // Allow selecting a different date
    document.getElementById("Day_Holiday").addEventListener("input", function () {
        this.setAttribute("type", "date");
    });
</script>


