@model IEnumerable<WebApplication4.Models.DataEvents>


<p>
    @Html.ActionLink("สร้างข้อมูลกิจกรรมประจำสัปดาห์", "AddEvents", null, new { @class = "btn btn-primary custom-button" })
</p>

<style>
    .custom-button {
        background-color: #46C2CB;
        color: black;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>ลำดับ</th>
            <th>วันที่</th>
            <th>เวลาเริ่มต้น</th>
            <th>เวลาสิ้นสุด</th>
            <th>หัวเรื่อง</th>
            <th>แผนกงาน</th>
            @*<th>รายละเอียด</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
            if (Model != null)
            {
                DateTime today = DateTime.Today;
                int currentDayOfWeek = (int)today.DayOfWeek;
                DateTime startOfWeek = today.AddDays(-(currentDayOfWeek - 1));
                DateTime endOfWeek = today.AddDays(7 - currentDayOfWeek);

                var filteredData = Model.Where(item =>
                {
                    DateTime eventDate = DateTime.Parse(item.Event_Date);
                    return eventDate >= startOfWeek && eventDate <= endOfWeek;
                })
                .OrderBy(item => DateTime.Parse(item.Event_Date))
                .ToList();

                foreach (var item in filteredData)
                {
                    <tr>
                        <td>@counter</td>
                        @{
                            counter++;
                        }
                        <td>@Html.DisplayFor(modelItem => item.Event_Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Start_Time)</td>
                        <td>@Html.DisplayFor(modelItem => item.End_Time)</td>
                        <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                        <td>@Html.DisplayFor(modelItem => item.Department)</td>
                        <td class="d-flex align-items-center">
                            @Html.ActionLink("แก้ไข", "EditEvents", new { EventID = item.EventID }, new { @class = "btn btn-warning me-2" })
                            <input type="button" value="ลบ" class="btn btn-danger delete-btn" data-eventid="@item.EventID" />
                            @*@Html.ActionLink("ลบ", "DeleteEvents", new { EventID = item.EventID }, new { @class = "btn btn-danger" })*@
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@using (Html.BeginForm("DeleteEvents", "Calendar", FormMethod.Post, new { id = "deleteForm" }))
{
    <input type="hidden" name="EventID" id="deleteEventId" />
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".delete-btn").click(function () {
            if (confirm('คุณต้องการลบข้อมูลกิจกรรมประจำสัปดาห์หรือไม่')) {
                var EventID = $(this).data("eventid");
                var row = $(this).closest("tr");

                $.ajax({
                    url: "/Calendar/DeleteEvents",
                    type: "POST",
                    data: { EventID: EventID }, // Updated to "EventID"
                    success: function (response) {
                        if (response[0].Status.Success) {
                            row.remove();
                            console.log("Data deleted successfully.");
                            location.reload();
                        } else {
                            console.log("Error deleting data.");
                        }
                    },
                    error: function () {
                        console.log("Error deleting data.");
                    }
                });
            }
        });
    });


</script>

