@model IEnumerable<WebApplication4.Models.DataHoliday>

@*<p>
        @Html.ActionLink("สร้างข้อมูลวันหยุดประจำปี", "AddHoliday")
    </p>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<div class="row">
    <div class="col-md-6">
        <!-- <h4>Create annual holiday information</h4> -->
        <p>
            @Html.ActionLink("สร้างข้อมูลวันหยุดประจำปี", "AddHoliday", null, new { @class = "btn btn-primary custom-button create-button" })
        </p>
        <!-- Add any additional content for creating annual holiday information -->
    </div>
    <div class="col-md-6">
        <!-- <h4>Annual holiday file information</h4> -->
        <div class="upload-btn-container">
            <div class="col-md-6">
                <a href="~/Excel/UploadExcel" class="upload-btn custom-button">ข้อมูลไฟล์วันหยุดประจำปี</a>
            </div>
        </div>
    </div>
</div>

<style>
    .upload-btn-container {
        display: block;  /*Add this line to override any previous display property */
    }

    .create-button {
        background-color: #46C2CB;
        color: black;
    }

    /*.upload-btn-container .upload-btn {
        color: black;
    }*/

</style>


<table class="table" id="holidayTable">
    <thead>
        <tr>
            <th>ลำดับ</th>
            <th>วันที่</th>
            <th>รายละเอียด</th>
        </tr>
    </thead>

    @*เพิ่มลำดับ*@
    @{
        int counter = 1;
    }

    @{
        var currentYear = DateTime.Now.Year;
        var filteredData = Model.Where(item => DateTime.Parse(item.Day_Holiday).Year >= currentYear
                                        && DateTime.Parse(item.Day_Holiday).Year <= currentYear)
                               .OrderBy(item => DateTime.Parse(item.Day_Holiday))
                               .ToList();
    }

    @foreach (var item in filteredData)
    {
        <tr>
            <td>
                @counter
                @{
                    counter++;
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Day_Holiday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td class="d-flex align-items-center">
                @Html.ActionLink("แก้ไข", "EditHoliday", new { id = item.ID }, new { @class = "btn btn-warning me-2" })
                @*@Html.ActionLink("ลบ", "DeleteHoliday", new { id = item.ID }, new { @class = "btn btn-danger" })*@
                <input type="button" value="ลบ" class="btn btn-danger delete-btn" data-id="@item.ID" />
            </td>
        </tr>
    }
</table>


<script>
    $(document).ready(function () {
        // Filter by current year
        var currentYear = new Date().getFullYear();

        $('#holidayTable tbody tr').each(function () {
            var date = $(this).find('td:eq(1)').text().trim(); // Assuming the date is in the second column (index 1)

            /*var year = new Date(date).getFullYear();*/
            /*if (year !== currentYear) {*/
            /*alert(date.substring(6, 10));*/
            if (date.substring(6, 10) != currentYear) {
                
                /*$(this).hide();*/
            }
        });
    });
</script>


@using (Html.BeginForm("DeleteHoliday", "Calendar", FormMethod.Post, new { id = "deleteForm" }))
{
    <input type="hidden" name="ID" id="deleteId" />
}
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".delete-btn").click(function () {
            if (confirm('คุณต้องการลบข้อมูลวันหยุดประจำปีหรือไม่')) {
                var ID = $(this).data("id");
                var row = $(this).closest("tr");

                $.ajax({
                    url: "/Calendar/DeleteHoliday",
                    type: "POST",
                    data: { ID: ID },
                    success: function (response) {
                        if (response.success) {
                            // Remove the row from the UI
                            row.remove();
                            console.log("Data deleted successfully.");

                            // Reload the page
                            /*location.reload();*/
                        } else {
                            console.log("Error deleting data.");
                        }
                    },
                    error: function () {
                        console.log("Error deleting data.");
                    }
                });
            }
        });
    });

</script>
